* {
    box-sizing: border-box;
}

.container {
  max-width: 70%;
  margin: auto;
  background-color: mistyrose;
}

.sa-menu {
    width: 50%;
    float: left;
    overflow: scroll;
    height: 350px;
}

.sa-main {
    width: 50%;
    float: left; 
}

.sa-main .sa-building-image {
    position: relative;
}

.sa-main .sa-building-image img {
    width: 80%;
    height: auto;
    z-index: 1;
}

.sa-main .sa-building-image .sa-title {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    z-index: 10;
}

.sa-main .sa-building-image .desc {
    padding: 15px;
    width: 80%;
}

.sa-main .sa-more-info {
    width:80%;
    text-align: right;
    margin-top: 0;
}

.sa-menu-nav {
    position: relative;
    top: 15px;
}
.sa-menu-nav .sa-button {
    display: block;
    width: 80%;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 13px;
    border: 1px solid white;
    border-radius: 5px;
}

.sa-menu-nav .sa-button.active {
    background-color: teal;
    color: white;
}